.ht-fill, .vert-Nav {
  min-height: 100vh;
}

.vert-Nav .col {
  display: flex;
  flex-direction: column;
}

.vert-Nav .row {
  flex: auto;
  align-items: center;
  text-align: center;
  background-color: tan;
  border: 1px, solid, lightslategrey;
  border-radius: 15px;
}

.row.active {
  font-size: 32px;
  max-width: 200px;
  max-height: 130px;
}

.row.inactive {
  margin-right: 40px;
  max-height: 130px;
  max-width: 150px;
}

#sideNav {
  max-width: 205px;
}

#appRoot #titleRoot {
  position:relative;
  top: 0;
  left: 0;
  max-height: 200px;
}

span.minor {
  font-size-adjust: 0.15;
}

span.major {
  font-size-adjust: 0.5;
}

.wh200 {
  width: 200px;
  height: 200px;
  aspect-ratio: 1/1;
}

.almendra-sc-regular {
  font-family: "Almendra SC", serif;
  font-weight: 400;
  font-style: normal;
}