a.Mui-selected#tab0 {
    background-image: radial-gradient(circle, #fcc5c5 0, white 100%);
}

a.Mui-selected#tab1 {
    background-image: radial-gradient(circle, #fce4c5 0, white 100%);
}

a.Mui-selected#tab2 {
    background-image: radial-gradient(circle, #fbfcc5 0, white 100%);
}

a.Mui-selected#tab3 {
    background-image: radial-gradient(circle, #d2fcc5 0, white 100%);
}

a.Mui-selected#tab4 {
    background-image: radial-gradient(circle, #c5ecfc 0, white 100%);
}

a.Mui-selected#tab5 {
    background-image: radial-gradient(circle, #d4c5fc 0, white 100%);
}

a.Mui-selected#tab6 {
    background-image: radial-gradient(circle, #fcc5f0 0, white 100%);
}